@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom_scroll {
  padding-right: 2.5px;
  padding-left: 2.5px;
}

.custom_scroll::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

.custom_scroll::-webkit-scrollbar-thumb {
  background-color: #ff8a16;
  border-radius: 5px;
}
